/* Global CSS Overrides */

.content {
	padding-left: 50px;
	padding-right: 50px;
}

.has-error .form-control {
	border-color: #D9534F;
	border-width: 3px;
}

.loader i {
	font-size: 7em;
}

.panel {
	padding-left: 0px;
	padding-right: 0px;
}

.panel-heading {
	font-size: 2em;
	padding-left: 60px;
	padding-right: 60px;
}

.panel-body {
	background-color: #4E5D6C;
}

.pop-notice {
	position:absolute;
    right: 0;
}

#rushinfo table>tbody>tr>td {
	padding-left: 50px;
	padding-right: 50px;
}

table a:not(.btn), .table a:not(.btn) {
	text-decoration: none;
}

.vert-mid-view {
	margin-top: 40vh;
}

/* XS */
@media (max-width: 767px) {
	.filter-collapse {
		z-index: 100;
	}

	.filtered-table {
		z-index: -100;
	}

	.hidden-xs-override { 
		display: none; 
	}
}