extends ../../_layout.jade

block content
  section#MemberDocs
    ol.breadcrumb
            li
                a(href="#/") Home
            li.active Documents 

        .container
            h2
                span#Title Documents

            .well.col-sm-6
                h4 Minutes
                #MinutesGrid

                h4(style="margin-top: 35px") Newsletters
                #NewslettersGrid

            .well.col-sm-6
                h4 Miscellaneous
                #DocumentsGrid

    
    