<section id="Rush" class="container"><h2>Alpha Beta Spring 2014 Rush Events!</h2><div class="well"><p class="text-warning">* You MUST attend Info Night and any TWO other events listed below to pledge *</p><table class="table table-hover"><tr><td><p><h4>Meet the Bros</h4>                Tuesday, April 1st -- Flagpoles @ 4:00PM
                Meet the brothers of Alpha Phi Omega
                and get to know each other over FREE FOOD!</p></td></tr><tr><td><p><h4>Info Night</h4>                Wednesday, April 2nd -- Flagpoles @ 6:00PM
                Interested, but don't know what you are getting yourself into?
                Come to our info night to learn what we are all about!</p></td></tr><tr><td><p><h4>Bracelet Making</h4>                Thursday, April 3rd -- Flagpoles @ 6:00PM
                Help us make bracelets to hand out
                to students on Ring Road during Midterms week!</p></td></tr><tr><td><p><h4>Friday Frenzy</h4>                Friday, April 4th -- Flagpoles @ 6:00PM
                Come out and play competitive games with the
                brothers of Alpha Phi Omega. Snacks will be provided.</p></td></tr><tr><td><p><h4>Care Packages</h4>                Saturday, April 5th -- Flagpoles @ 12:00PM
                Join us in making care packages
                for the homeless.</p></td></tr><tr><td><p><h4>Park Day</h4>                Sunday, April 6th -- Flagpoles @ 11:00AM
                Play games and eat food with the
                brothers of Alpha Phi Omega at the park.</p></td></tr></table></div></section>