<section id="login">

	<div class="well col-sm-6 col-sm-offset-3">

		<form class="form-horizontal">
			<fieldset>
				
				<legend>Login</legend>

				<div class="alert alert-danger" role="alert" data-bind="visible: errorMessage">
					<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					<span data-bind="text: errorMessage"></span>
				</div>

				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Username" data-bind="value: username">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-10">
						<input type="password" class="form-control" placeholder="Password" data-bind="value: password">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-10">
						<a href="mailto:rhorho.webmaster@gmail.com?subject=[APO] Password Recovery&body=Include your name, class, and email address used on the website."><em>Forgot your Password?</em></a>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-12">
						<button class="btn btn-primary pull-right" style="width: 79px" data-bind="click: submit, visible: submitting">
							<i class="fa fa-spinner fa-spin"></i></button>
						<button type="submit" class="btn btn-primary pull-right" data-bind="click: submit, visible: !submitting()">Submit</button>
						<button class="btn btn-default pull-right" data-bind="click: cancel">Cancel</button>
					</div>
				</div>

			</fieldset>
		</form>

    </div>

</section>