<nav id='navbar'>

<!-- Navigation -->
<div class="navbar navbar-default">
	<div class="navbar-header">

		<!-- Toggle Button -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Site Name -->
		<a class="navbar-brand" href="#">Alpha Phi Omega | Rho Rho Chapter</a>

	</div>
  
	<!-- Collapsible -->
	<div class="navbar-collapse collapse navbar-responsive-collapse">

		<!-- Main Links -->
		<ul class="nav navbar-nav">
			
			<li class="dropdown">
				<a href="#/about" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#/about/links">Affiliates</a></li>
					<li><a href="#/about/contact">Contacts</a></li>
					<li><a href="#/about">Meetings</a></li>
					<li><a href="#/about/rushhistory">History </a></li>
					<li><a href="#/about/rushinfo">Rushing</a></li>
				</ul>
			</li>

			<li class="dropdown" data-bind="visible: loggedIn">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Calendar</a></li>
					<li><a href="#">Fellowships</a></li>
					<li><a href="#">General</a></li>
					<li><a href="#">Services</a></li>
				</ul>
			</li>

			<li class="dropdown" data-bind="visible: loggedIn">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Newsletters</a></li>
					<li><a href="#">Videos</a></li>
				</ul>
			</li>

			<li class="dropdown" data-bind="visible: loggedIn">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Documents</a></li>
					<li><a href="#">Faces</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Finance</a></li>
					<li><a href="#">Roster</a></li>
				</ul>
			</li>

		</ul>

		<!-- Right Links -->
		<ul class="nav navbar-nav navbar-right">
			<li  data-bind="visible: loggedIn">
				<button type="button" class="btn btn-default visible-md-inline-block visible-lg-inline-block" title="Service Hours">
					<span class="fa fa-heart"></span>
					<span class="badge"><span data-bind="text: currentUser.total_service"></span></span>
				</button>
			</li>
			
			<li  data-bind="visible: loggedIn">
				<button type="button" class="btn btn-default visible-md-inline-block visible-lg-inline-block" title="Fellowship Hours">
					<span class="fa fa-soccer-ball-o"></span>
					<span class="badge"><span data-bind="text: currentUser.total_fellowship"></span></span>
				</button>
			</li>

			<li class="dropdown" data-bind="visible: loggedIn">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span  data-bind="text: currentUser.first_name"></span><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#/profile">Profile</a></li>
					<li><a href="#">Send Email</a></li>
					<li data-bind="visible: loggedIn, click: toggleLogout"><a href="#">Logout</a></li>
				</ul>
			</li>
			
			<li data-bind="visible: !loggedIn"><a href="#/login">Login</a></li>
		</ul>

	</div>
</div>

<!-- Alerts  -->
<!--<div id="welcome" class="alert alert-dismissable alert-info pop-notice timed" data-bind="visible: loggedIn">
	<button type="button" class="close" data-dismiss="alert">×</button>
	Welcome back, <span data-bind="text: name"></span>
</div>-->

<div class="alert alert-dismissable alert-warning pop-notice" data-bind="visible: showLogout">
	Are you sure you want to logout?
	<div>
		<button class="btn btn-warning btn-sm pull-right" data-bind="click: logout">Yes</a>
		<button class="btn btn-warning btn-sm pull-right" data-bind="click: toggleLogout">No</a>
	</div>
</div>

</nav>
