extends ../_layout.jade

block content
  section#Member
    ol.breadcrumb
            li
                a(href="#/") Home
            li.active Roster

        .container
            h2 Roster

            .well.col-xs-12

                //- #FilterEvents(data-placeholder="Filter Events")

                //- table.table.col-xs-12
                //-     thead
                //-         tr
                //-             th Name
                //-             th Class
                //-             th Family
                //-             th Position
                //-             th Phone
                //-             th Email

                //-     tbody(data-bind="foreach: actives")
                //-         tr
                //-             td(data-bind="text: first_name + ' ' + last_name")
                //-             td(data-bind="text: class_name")
                //-             td(data-bind="text: family")
                //-             td(data-bind="text: position")
                //-             td(data-bind="text: phone")
                //-             td(data-bind="text: email")

                #RosterGrid
    
    