extends ../_layout.jade

block content
  section#Member
    ol.breadcrumb
            li
                a(href="#/") Home
            li.active Roster 

        .container
            h2
                span(data-bind="text: view")
                .pull-right.text-right
                    .btn.btn-primary(data-bind="click: switchToActives") Actives
                    .btn.btn-primary(data-bind="click: switchToAlumni") Alumni
                    .btn.btn-primary(data-bind="click: switchToAffiliates") Affiliates
            
            .well.col-xs-12
                #RosterGrid
    
    