extends ../_layout.jade

block content
    section#Email
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active Send Email

        .container
            h2 Send Email
            .row
                .well.col-xs-12
                    
                    .row
                        .col-sm-7        
                            #ToAddresses(data-placeholder="Individual:", data-bind="visible: showToAddress")
                        
                        .hidden-xs.col-sm-5.text-right
                            span.right-space Send to all
                            .toGroup.text-left
                        
                        .visible-xs-block.col-sm-5.top-space  
                            span.right-space Send to all
                            .toGroup

                    .row
                        .col-sm-12  
                            input.form-control.top-space(type='text', placeholder="Subject:", data-bind="value: subject;")
                    
                    .row
                        .col-sm-12  
                            #MessageBody.top-space
                    
                    .row
                        .col-sm-12  
                            .hidden-xs.pull-left.top-space              
                                span.right-space Send email as: 
                                .sendAs
                    
                    .row
                        .col-sm-12
                            .visible-xs-block.top-space              
                                span.right-space Send email as: 
                                .sendAs

                    
                    .row
                        .col-sm-12
                            .hidden-xs.pull-right.top-space              
                                button.btn.btn-primary(data-bind="click: sendEmail, enable: isEmailFormComplete")  Send
                            .visible-xs-block.top-space              
                                button.btn-block.btn.btn-primary(data-bind="click: sendEmail, enable: isEmailFormComplete")  Send  