extends ../_layout.jade

block content
    section#Email
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active Send Email

        .container
            h2 Send Email

            .well.col-xs-12
                //- label.control-label To
                #ToAddresses(data-placeholder="To:")

                input.form-control.top-space(type='text', placeholder="Subject:", data-bind="value: subject;")

                #MessageBody.top-space

                .col-lg-12.top-space              
                    button.btn.btn-primary.pull-right(data-bind="click: sendEmail")  Send 