extends ../_layout.jade

block content
    section#Email
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active Send Email

        .container
            h2 Send Email

            .well.col-xs-12

                input#ToActives 
                | Send to all Actives

                #ToAddresses(data-placeholder="Individual:", data-bind="visible: showToAddress")

                input.form-control.top-space(type='text', placeholder="Subject:", data-bind="value: subject;")

                #MessageBody.top-space

                .hidden-xs.pull-left.top-space              
                    span.right-space Send email as: 
                    .sendAs
                .visible-xs-block.top-space              
                    span.right-space Send email as: 
                    .sendAs

                .hidden-xs.pull-right.top-space              
                    button.btn.btn-primary(data-bind="click: sendEmail, enable: isEmailFormComplete")  Send
                .visible-xs-block.top-space              
                    button.btn-block.btn.btn-primary(data-bind="click: sendEmail, enable: isEmailFormComplete")  Send  