<section id="detail">

	<div class="container">
		
		<h2 data-bind="html: eventDetail().name"></h2>

		<div class="well col-sm-8">
			<p><strong>Date: </strong>
			<span data-bind="text: eventDetail().date"></span></p>

			<p><strong>Event Location: </strong>
			<span data-bind="html: eventDetail().location"></span></p>

			<br/>
			<h5><strong>Description: </strong></h5>
			<span data-bind="html: eventDetail().description"></span></p>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default" data-bind="foreach: shifts">
				<div class="panel-heading">
					<h4 data-bind="text: description"></h4> 
					<small data-bind="text: start_time"></small>-<small data-bind="text: end_time"></small></div>
				
				<div class="panel-body">
					<ul data-bind="foreach: signups">
						<li><span data-bind="text: first_name"></span> <span data-bind="text: last_name"></span></li>
					</ul>
				</div>

			</div>
		</div>

	</div>

</section>