section#Event.container
    h2 Upcoming Events
    .well
        table.table
            thead
                tr
                    th Date
                    th Name
            tbody(data-bind="foreach: formattedEvents")
                tr
                    td(data-bind="text: date")
                    td(data-bind="text: name")