extends ../_layout.jade

block content
    section#EventDetail
        ol.breadcrumb
            li
                a(href="#/") Home
            li
                a(href="#/event") Events
            li.active Detail

        .container
            h2(data-bind="text: event().name")

            .well.col-sm-8
                div 
                    strong Date: &nbsp;
                    span(data-bind="text: event().date")
                div 
                    strong Location: &nbsp;
                    a(data-bind="attr: { target: '_blank', href: 'http://maps.google.com/?q=' + event().location }")
                        span(data-bind="text: event().location")
                div 
                    strong Meet: &nbsp;
                    span(data-bind="text: event().meet_location") 
                    span(data-bind="visible: event().meet_time")
                        | &nbsp; &#64;  
                        span(data-bind="text: event().meet_time")
                div
                    strong Description: 
                    div(data-bind="html: event().description")

            .col-sm-4(data-bind="with: shiftViewModel")
                div(data-bind="foreach: shifts")
                    //- shifts
                    .panel.panel-default
                        .panel-heading
                            div(data-bind="text: description")
                            div
                                span(data-bind="text: start_time")
                                span(data-bind="visible: end_time, text: ' - ' + end_time")
                        
                        .panel-body
                            //- signups
                            ul(data-bind="foreach: $parent.signups()[id]")
                                li
                                    span(data-bind="text: first_name") 
                                    | &nbsp;
                                    span(data-bind="text: last_name")
                                    | &nbsp;
                                    span(data-bind="visible: driver != 0") 
                                        span(data-bind="text: '(' + driver + ')'")  
                            //- buttons
                            div.text-center(data-bind="with: $parent.eventActionViewModel")
                                button.btn.btn-primary(data-bind="visible: $parent.canSignUp, \
                                    attr: { 'data-shiftId': $parent.id, 'data-eventId': $parent.event }, \
                                    click: add") Signup
                                button.btn.btn-default(data-bind="visible: $parent.canWaitlist, \
                                    attr: { 'data-shiftId': $parent.id, 'data-eventId': $parent.event }, \
                                    click: addWaitlist") Waitlist
                                button.btn.btn-warning(data-bind="visible: $parent.isWaitlisted, \
                                    attr: { 'data-shiftId': $parent.id, 'data-eventId': $parent.event }, \
                                    click: removeWaitlist") Remove from Waitlist
                                button.btn.btn-danger(data-bind="visible: $parent.isSignedUp,  \
                                    attr: { 'data-shiftId': $parent.id, 'data-eventId': $parent.event }, \
                                    click: remove") Remove
                            //- waitlist
                            hr(data-bind="visible: isFull")
                            .well.well-sm(data-bind="visible: isFull")
                                h5 Waitlist:
                                ol(data-bind="foreach: $parent.waitlist()[id]")
                                    li
                                        span(data-bind="text: first_name") 
                                        | &nbsp;
                                        span(data-bind="text: last_name")
