extends ../_layout.jade

block content
    section#EventCalendar
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active Calendar

        .container
            h2 Calendar

            .well.col-sm-12
                #Calendar