extends ../../pages/_layout.jade

block content
  section#AdminDashboard
    ol.breadcrumb
            li
                a(href="#/") Home
            li.active Dashboard 

        .container
            h2
                 
            .well.col-xs-12
    
    