<section id="home">
	<div class="container">
		
		<div class="jumbotron text-center">

				<h1>Alpha Phi Omega</h1>
				<p>Leadership. Friendship. Service.</p>
				<p><a class="btn btn-primary btn-lg">Learn more</a></p>
			
		</div>			
{{!-- 			<div class="col-sm-5 col-sm-offset-1">
				<img style="max-width: 100%;" src="assets/img/fall_rush.jpg" />
			</div> --}}
		
	</div>
</section>