extends ../_layout.jade

block content
    section#Home
        .container
        .jumbotron.text-center
            h1(style="color: red;") Warning!
            p This area is currently under development. Tread carefully.