section.container-fluid
    
    h3.text-center <%= Name || 'N/A' %>
    table.table.table-striped.top-space
        tbody
            tr
                td 
                    strong Status
                td <%= Status || 'N/A' %>
            tr
                td 
                    strong Class
                td <%= Class || 'N/A' %>
            tr
                td 
                    strong Family
                td <%= Family || 'N/A' %>
            tr
                td 
                    strong Birthday
                td <%= Birthday || 'N/A' %>
            tr
                td 
                    strong Email
                td <%= Email || 'N/A' %>
            tr
                td 
                    strong Phone
                td <%= Phone || 'N/A' %>
            tr
                td 
                    strong School Address
                td <%= TempAddress || 'N/A' %>
            tr
                td 
                    strong Permanent Address
                td <%= PermAddress || 'N/A' %>
            tr
                td 
                    strong Shirt Size
                td <%= ShirtSize || 'N/A' %>
    
    .pull-right.top-space
        button.btn.btn-primary.cancel Done