section.text-center
    div Please enter the number of passengers you can drive for this event.
    
    div.center-block.top-space
        input.text-center(id="Driver" type='number', style="width: 50px; height: 25px;", min="0", value="0")
    
    div.top-space
        button.btn.btn-default.cancel Cancel
        button.btn.btn-success.confirm Signup 
